/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

.contents {
    display: flex;
}

/* THAINA */ 
#novo-projeto{
    text-align: center;
    width: 100%;
}

#botao {
    border-radius: 30px;
    background-color:#0729d8;
    color:white;
    padding: 10px;
    margin: 30px;
    }

#novo-projeto p{
     text-align: center;
     margin: 10px;
}
#novo-projeto h1{
    text-align: center;
    /* margin: 30px; */
    font-size: 50px;
}
#novo-projeto h2{
    text-align: center;
    /* margin:50px; */
}
/* SERGJAO */ 

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #f2f2f2;
}

#usuario, #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#usuario p {
    margin-right: 1rem;
}

#linhavermelha {
    padding: 0.4em;
    background-color: #E53420;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: #0A0A6A;
    min-width: 7.5%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: #fff;
}

/* FRED */ 







/* PEDRO */
#adicionar-func{
    border-style: none;
    color: white;
    background-color: #0A0A6A;
    padding: 10px;
    border-radius: 20px;
}

.adicionar-func{
    font-size: 2em;
    text-align: center;
}

select{
    width: 40%;
    height: 60%;
}

.container p{
    text-align: center;
}


/* GUTO */

#pagina-login{
    display: flex;
    flex-direction: column;
}
#login {
    display: flex;
    flex-direction: row;
}

#login img {
    width: 85vh;
    height: 100vh;
}
#texto_bem_vindo{
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 30px;

}
#login_texto{
    font-size: 32px;
    display: flex;
    justify-content:flex-start;

}
#indentifique_texto{
    font-size: 20px;
    height: 23px;
    width: 372px;
    left: 804px;
    top: 327px;
    border-radius: nullpx;

}
#Registro{
    height: 92px;
    width: 499px;
    left: 804px;
    top: 390px;
    border-radius: 0px;


}
#senha{
    height: 92px;
    width: 499px;
    left: 804px;
    top: 512px;
    border-radius: 0px;

}



/* BIA */ 

#cont-tabela {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}